@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both; 
    }
}

@mixin respond($breakpint) {
    @if $breakpint == phone {
        @media (max-width: 37.5em) {@content}; //600px
    }
    @if $breakpint == tab-port {
        @media (max-width: 56.25em) {@content}; //900px
    }
    @if $breakpint == tab-land {
        @media (max-width: 75em) {@content}; //1200px
    }
    @if $breakpint == big-desktop {
        @media (min-width: 112.5em) {@content}; //1800px
    }

}